includes:
    - phpstan-baseline.neon

parameters:
    level: 5

    paths:
        - plugin-name.php
        - includes/

    excludePaths:
        - vendor/
        - node_modules/
        - build/
        - tests/

    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-bootstrap.php
